*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  
}
body{
    background: #547371;
    font-family:  Tahoma;
}
.conteiner{
 text-align: left;
 padding: 20px;
 width: 70%;
 margin: 10px auto;
 
}
.form-div{
    background-color: white;
    padding: 10px;
    border-radius: 10px;

}
ul{
    padding: 20px;
}
form{
    text-align: left;
    padding: 20px;
   
}
label{
  
    width: 100%;
}
input{
    width: 100%;
    margin: auto;
    padding: 5px 0;
    margin-top: 7px;
    margin-bottom: 10px;

    
}
button{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: #547371;
    color: white;
}
.err{
    color: red;
    font-size: 12px;
    margin-bottom: 5px
}